@import url('root.css'); 
/*Always include root css to access the root content and not to reinitialize code */


#date-covered{
    font-size: 0.9vw;
}
.data_config{
    margin-top: 0.5vw;
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.data_config > i{
    color: #515151;
    margin-left: 1vw;
    margin-top: -0.2vw;
}
.data_config > i:hover{
    cursor:pointer;
}
.data_config > i:active{
    color: #8694F2;
}

.charts{
    margin-top: 2vw;
}
.charts label{
    color: #515151; font-weight: bold; font-size: 1vw;
}
.charts .pie-lbl{
    margin-left: 28.5vw;
}

.charts #line_chart{
    margin-top: 1vw;
}
.charts #pie_chart{
    margin-top: -14.7vw;
    margin-left: 33vw;
}
.data-table{
    margin-top: 2vw;
    width: 90%;
}
.data-table > label{
    color: #868686;
    font-size: 1vw;
    font-weight: bold;
}
.data-table #datatable{
    text-align: center;
    width: 70vw;
}
#datatable tr:hover{
    cursor: default;
}
#datatable tbody>tr:hover{
    background-color: #D7D7D7;
  }
#datatable img{
    width: 4vw;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

td.details-control{
    background: url('/src/assets/plus.png') no-repeat center center;
    background-size: 20px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/src/assets/minus.png') no-repeat center center;
    background-size: 20px;
}
.charts .LChart_cont{
    width: 30vw;
}
.invisible_panel{
    display: none;
    position: sticky;
    flex-direction: row;
    margin-top: .3vw;
}
.invisible_panel input[type=text]{
    width: 7vw;
}
.invisible_panel input[type=date]{
    width: 8.6vw;
}
#From_date{
    padding: 0vw .5vw;
    margin-right: .5vw;
}
#To_date{
    padding: 0vw .5vw;
    margin-left: .5vw;
    margin-right: .3vw;
}
#cancel{
    color: red;
    margin-right: .5vw;
}
#cancel:hover{
    cursor: pointer;
}
#cancel:active{
    color: #FF6A6A;
}
#confirm{
    color: rgb(91, 91, 238);
}
#confirm:hover{
    cursor: pointer;
}
#confirm:active{
    color: #8484F2;
}
    

/*----------------------------------------------------Tablet View----------------------------------------------------*/
@media (max-width: 768px){
    .invisible_panel input[type=text]{
        width: 10vw;
    }
    .invisible_panel input[type=date]{
        width: 17.8vw;
    }
    h4{
        font-size: large;
    }
    #date-covered{
        font-size: 13px;
    }
    .data_config i{
        padding-left: 0.5vw;
        font-size:18px;
    }
    .charts{
        margin-top: 3vw;
    }
    .charts label{
        font-size: 13px;
    }
    .charts #pie_chart{
        margin-top: -29.3vw;
        margin-left: 51vw;
    }
    .charts .pie-lbl{
        margin-left: 43vw;
    }
    .data-table{
        margin-top: 5vw;
        width: 96%;
    }
    .data-table label{
        font-size: 15px; 
        margin-left: 10px;   
    }
    .data-table th{
        font-size: 15px;
    }  
    .data-table td{
        font-size: 15px;
    }
    #datatable img{
        width: 8vw;
    }
    .charts .LChart_cont{
        width: 50vw;
        height: 30vw;
    }
}


/*----------------------------------------------------Mobile View----------------------------------------------------*/
@media (max-width: 425px){
    .invisible_panel input[type=text]{
        width: 20vw;
    }
    .invisible_panel input[type=date]{
        width: 25vw;
    }
    #datatable img{
        width: 15vw;
    }
    .data-table td{
        font-size: 15px;
    }
    .data-table th{
        font-size: 3.5vw;
    }  
    .data-table label{
        font-size: 4vw; 
        margin-left: 2vw;   
    }
    .data-table{
        margin-top: 10vw;
        margin-left: 0vw;
    }
    .charts .LChart_cont{
        width: 85vw;
        height: 40vw;
    }
    .charts .pie-lbl{
        position: absolute;
        left: -36.5vw;
        margin-top: 47vw;
    }
    .charts label{
        font-size: 13px;
    }
    .data_config i{
        padding-left: 0.5vw;
        font-size:5vw;
    }
    #date-covered{
        font-size: 13px;
    }
    .charts #pie_chart{
       margin-top: 9vw;
       margin-left: 4vw;
    }

}