@import url('root.css'); 
/*Always include root css to access the root content and not to reinitialize code */

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

#date-covered{
    font-size: 0.9vw;
}
.data_config{
    margin-top: 0.5vw;
    display: flex;
    flex-direction: row;
    width: fit-content;
}
.data_config > i{
    color: #515151;
    margin-left: 1vw;
    margin-top: -0.2vw;
}
.data_config > i:hover{
    cursor:default
}
.data_config > i:active{
    color: #8694F2;
}

.charts{
    margin-top: 2vw;
}
.charts label{
    color: #515151; font-weight: bold; font-size: 1vw;
}
.charts .pie-lbl{
    margin-left: 28.5vw;
}

.charts #line_chart{
    margin-top: 1vw;
}
.charts #pie_chart{
 position: absolute;
 top: 13.5vw;
 left: 57vw;
}
.data-table{
    margin-top: 2vw;
    width: fit-content;
}
.data-table > label{
    color: #868686;
    font-size: 1vw;
    font-weight: bold;
}
.data-table #datatable{
    text-align: center;
    width: 70vw;
}
#datatable tr:hover{
    cursor: default;
}
#datatable img{
    width: 4vw;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

td.details-control{
    background: url('/src/assets/plus.png') no-repeat center center;
    background-size: 20px;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('/src/assets/minus.png') no-repeat center center;
    background-size: 20px;
}
.charts .LChart_cont{
    width: 30vw;
}

/*----------------------------------------------------Tablet View----------------------------------------------------*/
@media (max-width: 768px){
    h4{
        font-size: large;
    }
    #date-covered{
        font-size: 1.4vw;
    }
    .data_config i{
        padding-left: 0.5vw;
        font-size:2.5vw;
    }
    .charts{
        margin-top: 3vw;
    }
    .charts label{
        font-size: 1.5vw;
    }
    .charts #pie_chart{
        margin-top: 6vw;
        left: 55vw;
    }
    .charts .pie-lbl{
        margin-left: 41vw;
    }
    .data-table{
        margin-top: 5vw;
        margin-left: 6vw;
    }
    .data-table label{
        font-size: 1.5vw; 
        margin-left: -5vw;   
    }
    .data-table th{
        font-size: 1.8vw;
    }  
    .data-table td{
        font-size: 1.5vw;
    }
    #datatable img{
        width: 8vw;
    }
    .charts .LChart_cont{
        width: 45vw;
    }
}


/*----------------------------------------------------Mobile View----------------------------------------------------*/
@media (max-width: 426px){

}