@import url(root.css);


.function {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 35px 105px 0 0;
    justify-content: flex-end;
    align-items: baseline;
}
h1{
    margin-right: 60%;
}

.function div {
    cursor: pointer;
    padding: 0 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

.function div i {
    color: var(--font-color-primary);
    font-size: 20px;
}

.function div span {
    margin-left: 10px;
}

.function div:hover i,
.function div:hover span {
    color: var(--primary-color);
}

.legend {
    display: flex;
    flex-direction: row;

}

.legend div {
    padding: 0 25px;
    display: flex;

}

.legend div i {
    color: var(--font-color-primary);
    font-size: 20px;
}

.legend div span {
    margin-left: 10px;
}






.attendance-table {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 95%;
    margin-top: 38px;
}

.name {
    table-layout: fixed;

}

.name tr td:nth-child(1) {

   padding: 12px 22px;
   min-width: 180px;
   background-color: var(--primary-color);
   color: var(--font-light-color);
   border: none !important;
   margin: 0 !important;
}
.name tr td:not(:nth-child(1)){
    padding: 10px 10px;
    cursor: pointer;
    text-align: center;
 }
 table thead td,table tfoot td
 {
     
    background-color: var(--red);
    color: var(--font-light-color);
 }

table tr td {
    border: 1px solid var(--secondary-color);
    height: 35px;
    width: 10%;
    padding: 1pt 0 1pt 0;
    min-width: 120px;
    padding-left: 20px;
}

button
{
    width: 220px;
    padding: 18px;
    margin: 38px 12px 0 0;
    border: none;
    outline: none;
    background-color: var(--orange);
    color: var(--font-light-color);
    font-weight: 500;
    font-size: 14px;
}
.remarks:hover{
    cursor: pointer;
    background-color: #BEC4E0;
}
.remarks{
   width: 100%;
   padding: 5px;
   margin: 10 0 0 0;
   border: 1px solid var(--secondary-color);
   background-color: #F8F8F8;
   border-radius: 20px;
   color: black;
}
.remarks i{
    color: black;
}
input[type="date"]
{
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    
}

input[type="date"]::-webkit-calendar-picker-indicator 
{
    filter: invert(1);
}

/* MODAL DESIGN */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
  }
  
  .modal-container {
    position: relative;
    z-index: 101;
    margin: auto;
    top: 50px;
    background-color: white;
    height: 350px;
    width: 600px;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation: modal-animation;
    animation-duration: 0.5s;
  }
  
  @keyframes modal-animation {
    from {
        top: -300px;
        opacity: 0
    }
  
    to {
        top: 50;
        opacity: 1
    }
  }
  /* MODAL END */
 .modal-body{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 h3{
     padding: 10px 10px;
 }

 .student-info{
     margin-top: 20px;
     flex-direction: column;
     display: flex;
     width: 100%;
     justify-content: flex-start;
 }
 .modal-body i:hover{
     cursor: pointer;
 }
 .Student-info label{
     font-size: 18px;
 }
 .modal textarea{
     width: 95%;
     margin-left: 5px;
     margin-right: 5px;
     margin-top: 15px;
     height: 150px;
     font-size: 15px;
     resize: none;
     padding: 5px 5px;
 }
 .modal-controls button{
    width: 80px;
    margin-top: 15px;
    height: 35px;
    padding: 0 0 0 0;
 }