/* default design for web */
body {
    background-color: antiquewhite;
}
.flexbox-container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.flexbox-item{
    width: 200px;
    margin: 10px;
    border: 2px solid #333;
    background-color: ghostwhite;
}
.flexbox-item-1{
    min-height: 400px;
    min-width: 300px;
}