@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}
body{
    background: #F8F8F8;
}

/*Property of sidebar in desktop mode*/
.s-navbar{
    align-content: center;
    height: 100%;
    background:#FFFF;
    width: 16%;
    top: 0%;
    left: 0%;
    box-shadow: 0.5px 1px 8px 3px #D9D9D9;
    position: absolute;
}

/*Property of Logo in the sidebar in desktop mode*/
.s-navbar>.logo-name{
    height: 4vw;
    text-align: center;
    font-size: 13px;
}
.logo-name H3{
    padding-top: 1.3vw;
    color: #5E6AB3;
}

/*Propoerty of lists on the sidebar*/
.s-navbar .nav-links{
    background: #FFFFFF;
    height: 100%;
    padding-top: 1vw;
}

.s-navbar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #989898;
    font-size: 18px;
}

.s-navbar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.s-navbar .nav-links li a .link_name{
    font-size: 14px;
    font-weight: 400;
    color: #989898;
}

.vert-line{
    border-left: 5px solid #FFFF;
    height: 2.5vw;
    position: absolute;
    right: 0;
    margin-top: 3px;
}

/*Gives sidebar a glow when mouse hovers*/
.s-navbar .nav-links li:hover i{
    color: #5E6AB3;
}
.s-navbar .nav-links li:hover .link_name{
    color: #5E6AB3;
}
.s-navbar .nav-links li:hover .vert-line{
    border-left: 5px solid #5E6AB3;
}

/*Property of header*/
.header{
    width: 84%;
    height: 4vw;
    position: fixed;
    right: 0;
    background-color: #FFFF;
}

/*Property of Search Button*/
.header .search-bar{
    padding-top: 1vw;
    padding-left: 8%;
}
.header .search-bar input{
    border: none;
    background-color: #F8F8F8;
    height: 2vw;
    width: 30vw;
    padding: 1vw;
}
.header .search-bar i{
    font-size: 20px;
    color: #8F8F8F;
    position: absolute;
    margin-top: 0.3vw;
    margin-left: -2vw;
}

/*Propert of user profile in the header*/
.header .profile-picture{
    position: absolute;
    right: 0;
    top: 0;
    padding: 1vw;
    margin-top: 0vw;
    width: fit-content;
    height: fit-content;
}
.header .profile-picture i{
    font-size: 2vw;
    color: #5E6AB3;
}

/*Property of bottom image in the side navbar*/
.s-navbar .bottom-image{
    position: absolute;
    bottom: 0;
    background-color: #B2BBF7;
    margin-left: 1.5vw;
    margin-bottom: 2vw;
    width: 13vw;
    height: 16vw;
    border-radius: 2vw;
    box-shadow: 0.5px 1px 8px 3px #D9D9D9;
}
.s-navbar .bottom-image img{
    width: 10vw;
    padding-left: 1.6vw;
    padding-top: 1vw;
}
.s-navbar .bottom-image h3{
    padding-left: 1vw;
    padding-top: 1vw;
    color: #FFFF;
    font-size: 1vw;
}

/* Property of Sub Menus on the sidebar*/
.s-navbar .nav-links .sub-menu{
    width: 9vw;
    position: absolute;
    text-decoration: none;
    list-style: none;
    margin-top: -20%;
    margin-left: 101%;
    background-color: #FFFFFF;
    height: 8vw;
    box-shadow: 0.5px 1px 8px 3px #D9D9D9;
    display: none;
}
.s-navbar .nav-links .sub-menu li a{
    padding-top: .5vw;
    color: #8F8F8F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1vw;
}

.s-navbar .nav-links .sub-menu li:hover{
    background: #E0E3FC;
}
.s-navbar .nav-links li:hover .sub-menu{
   display: block;
}

