:root {

    --background-color: #F8F8F8;
    --primary-color: #5E6AB3;
    --secondary-color: #B2BBF7;

    --font-color-primary: #696969;
    --font-color-secondary: #484848;



    --font-light-color: white;
    /* This root block contains static data */
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

body {
    background: var(--background-color);
    padding: 0;
    margin: 0;
    height: 100%;
}

.main_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;


}

.main_content {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 270px);
    height: 100%;
    margin-left: 270px;

}

/* Main container */
.item_container {
    height: 100%;
    display: flex;
    padding: 2vw 0vw 0vw 6vw;
    flex-direction: column;

}

.d_container {
    display: inline-flex;
    flex-direction: row;
    margin-top: 2vw;
    margin-right: 5vw;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px 5px 5px 20;
}

.d-item-main {
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.d-item-highlight {
    border-radius: 20px;
    background-color: var(--primary-color);
    max-width: 238px;
    max-height: 238px;
    height: 25vw;
    width: 25vw;
    min-height: 181px;
    min-width: 181px;
}

.d-item-main>img {
    height: 10vw;
    width: 10vw;
    max-width: 90px;
    max-height: 90px;
    margin: 0vw auto 1vw auto;
    border-radius: 50%;
    min-height: 93px;
    min-width: 93px;
}

.d-item-main>#d-name {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.d-item-main>#d-pos {
    text-align: center;
    color: white;
    font-weight: 400;
    margin-top: 0.5vw;
    font-size: 13px;
}


.d-items {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 15px 0;

    max-width: 285px;
    max-height: 200px;
    height: 21vw;
    width: 20vw;
    min-height: 160px;
    min-width: 181px;

}

.d-items>img {
    width: 6vw;
    max-width: 100px;
    min-width: 80px;

    margin-left: 100px;
}

.d-items>h5 {
    margin-top: 35px;
    font-weight: 500;
}

.d-items>h1 {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 45px;
    font-weight: 400;

}

.dash-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3vw;
}

.pie-chart {}

.pie-container>h3 {
    color: var(--font-color-secondary);
}

.pie-container {
    min-width: 180px;
    min-height: 240px;
    width: 20vw;
    height: 16vw;
    background-color: white;
    margin-top: 1.5vw;
    padding: 1.5vw;
    border-radius: 5px;
}


/* Line Chart*/
.line-chart {

    margin-left: 1vw;
}

.line-chart>h3 {
    color: var(--font-color-secondary);
}

.line_container {
    min-width: 340px;
    min-height: 240px;
    width: 30vw;
    height: 16vw;
    background-color: white;
    margin-top: 1.5vw;
    padding: 1.5vw;
    border-radius: 5px;


    transition: all .2s ease;
}

.professor {
    margin-left: 1vw;
}

.professor>h3 {
    color: var(--font-color-secondary);
}

.prof_container {
    display: flex;
    flex-direction: column;

    width: 17vw;
    height: 19vw;
    background-color: white;
    margin-top: 1.5vw;

    border-radius: 5px;
    transition: all .2s ease;

}

.prof_container>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.prof_container>ul>li  {

    padding: 15px 0 10px 15px;



}

.prof_container>ul>li:nth-child(1)  {
    background-color: var(--primary-color);
    box-shadow: 0px 1px 1px 1px var(--primary-color);
    border-radius: 5px;
}

.prof_container>ul>li>a {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img name"
        "img status";
    text-decoration: none;
    color: black;

}



.prof_container>ul>li>a>img {
    grid-area: img;
    height: 2vw;
    border-radius: 50%;
}

.prof_container>ul>li>a>h2 {
    grid-area: name;
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 5px 10px;
}


.prof_container>ul>li>a>h3 {
    grid-area: status;
    font-size: 13px;
    font-weight: 200;
}

.prof_container>a {
    position: relative;
    top: 35px;
    left: 80%;
    font-size: 15px;
    text-decoration: none;
    color: var(--primary-color);
    display: none;
}

/* Main container */
/*Property of sidebar in desktop mode*/
