@import url('root.css'); 
/*Always include root css to access the root content and not to reinitialize code */

* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

.search_bar{
  display: flex;
  flex-direction: row;
  padding-top: 1vw;
  width: fit-content;
  height: fit-content;
}

h4{
  color: #515151;
}

.search_bar > input{
  width: 20vw;
  height: 2.3vw;
  border: none;
  padding: 12px 40px;
}

.search_bar > i{
  position: absolute;
  color: #8F8F8F;
  padding-top: .3vw;
  padding-left: .5vw;
}

.search_bar > select{
  color: #8F8F8F;
  border: none;
  padding: 0px 20px;
  width: max-content;
}

.search_bar > .vl{
  position: absolute;
  border-left: 1px solid #9F9F9F;
  margin-top: .4vw;
  margin-left: 20vw;
  height: 1.5vw;
}

.search_bar > input[type=date]{
  margin-left: 1vw;
  width: 11.5vw;
  padding: 0px 20px;
  color: #8F8F8F;
}

.search_bar > button{
  margin-left: 1vw;
  color: #ffff;
  background-color: #B2BBF7;
  width: 5vw;
  border: none;
}
.search_bar > button:active{
  background-color: #8694F2;
}

#settings{
  margin-left: 68%;
  color: #515151;
}

#settings:active{
  color: #B2BBF7;
}

.user_profile{
  margin-top: 1vw;
  width: fit-content;
}

.user_profile>img{
  position:static;
  width: 5vw;
  margin-top: .5vw;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
}

.user_profile > h2{
  padding-left: 6vw;
  margin-top: -5vw;
  color: #8694F2;
}
.user_profile > h2:hover{
  cursor: default;
}
.user_profile > h4{
  padding-left: 6vw;
  margin-top: 0.3vw;
  color: #8F8F8F;
}
.user_profile > h5{
  padding-left: 6vw;
  color: #8F8F8F;
}

.user_profile > h4:hover, h5:hover{
  color: #8694F2;
  cursor: default;
}

.user_profile >img:hover{
  width: 5.4vw;
}
  
  