@import url('root.css'); 
/*Always include root css to access the root content and not to reinitialize code */



.StudentInf{
    display: flex;
    align-items: center;
}
.StudentInf img{
    width: 7vw;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}
.StudentInf label{
    font-weight: bold;
    font-size: 2vw;
    color: #808080;
    margin-left: 1vw;
}

.StudentInf button{
    border: none;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    color: #fff;
    background-color: #B2BBF7;
    margin-left: 52%;
    margin-bottom: 5vw;
}
.StudentInf button:active{
    background-color: #8D9AF3;
}
hr{
    margin-top: 1vw;
    width: 91%;
}
.info-grid{
    display: grid;
    grid-template-columns: 13vw 10vw;
    width: 30vw;
    margin-top: 0.5vw;
}
.info-grid h4{
    color: #515151;
}
.grid-item{
   margin-bottom: 0.5vw;
}

.text-labels{
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 1vw;
}

.text-labels h3,i{
    color: #707070;
}
.text-labels i{
    margin-left: 58vw;
}
.text-labels h3:hover,i:hover{
    cursor: default;
}
.text-labels i:active{
    color: #8D9AF3;
}
.data-table{
  width: fit-content;

}
.data-table #datatable{
  text-align: center;
}
.Pop_Up_ReportOption{
  position: absolute;
  background-color: #fff;
  width: 20vw;
  height: 20vw;
  margin-top: 2.6vw;
  margin-left: 44vw;
  box-shadow: 5px 5px 8px #D7D7D7;
  display: none;
}
.Pop_Up_ReportOption textarea{
  padding: 0.5vw 1vw;
  font-size: 1vw;
  margin-top: .5vw;
  margin-left: .7vw;
  width: 18.5vw;
  height: 15vw;
  background-color: #F8F8F8;
}
.Pop_Up_ReportOption .cancel_btn{
  margin-top: 1.5vw;
  margin-left: 5.5vw;
  border-style: none;
  width: 4vw;
  height: 2vw;
  background-color: red;
  color: #fff;
  margin-right: 1vw;
}
.Pop_Up_ReportOption .cancel_btn:active{
  background-color: #FF9D9D;
}
.Pop_Up_ReportOption .Submit_btn{
  border-style: none;
  width: 4vw;
  height: 2vw;
  background-color: green;
  color: #fff;
}
.Pop_Up_ReportOption .Submit_btn:active{
  background-color: #00DB00;
}