:root {

    --background-color: #F8F8F8;
    --primary-color: #5E6AB3;
    --secondary-color: #B2BBF7;

    --font-color-primary: #696969;
    --font-color-secondary: #484848;






    --font-light-color: white;
    /* This root block contains static data */
}

* {
    font-family: 'Karla', sans-serif;
}

body {
    background-image: url('../assets/background.png');
    background-color: var(--background-color);
    background-repeat: repeat;
    background-size: cover;
    background-position: center; 
    margin: 0px;
    padding: 0px;
}

.container {
    margin: 0px;
}

.container-fluid {
    margin-left: 10%;
    margin-right: 10%;
}

.flow-x {
    display: flex;
    flex-direction: row;
    height: 100%;

    /*This assign the child elements in horizontal preceding position */
}

.flow-y {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*This assign the child elements in vertical preceding position */
}


.wrapper {}

.x_half {
    width: 50%;
    height: 100%;
}

.logo {
    display: absolute;
}

.logo>p {
    position: relative;
    top: 1.5vw;
    left: 1.6vw;
    font-size: 0.9vw;
    color: var(--primary-color);
    font-weight: 700;
    width: max-content;
    text-align: center;
}

.card {

    width: 50%;
    height: max-content;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.center_card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
}

.card>div>.l_design {

    background-color: var(--secondary-color);
    padding-bottom: 3%;
}

.card>div>.l_design>div>.icon {
    width: 16vw;
    margin: 2vw 1vw 0 3vw;
}

.card>div>.l_design>div>h2 {
    color: var(--font-light-color);
    margin-left: 2vw;
    font-size: 1.2vw;
}

.card>div>.l_design>div>p {
    color: var(--font-light-color);
    margin-top: 0;
    margin-left: 2vw;
    margin-right: 10vw;
    font-size: 0.9vw;
    margin-bottom: 12%;
}

.card>div>.l_design>div>h2>span {
    border-bottom: var(--font-light-color) solid 1px;

}

.r_forms {}

.r_forms>form {}

.r_forms>form>p {
    font-weight: bolder;
    text-align: center;
    margin-top: 2vw;
    font-size: 0.8vw;
}

.r_forms>form>h3 {
    font-weight: bolder;
    text-align: center;
    margin-top: 2vw;
    font-size: 0.9vw;
    color: var(--font-color-secondary);
   

}

.r_forms>form>h3>span {
    border-bottom: var(--primary-color) solid 3px;
    margin-top: 2vw;
    
}


.input_group
{
    display: absolute;
    margin-top: 1vw;
}
.input_group > input
{
   
    position: relative;
    outline:0;   
    border: 0;
    padding: 0.6vw;
    font-size: medium;
    font-weight: 400;
    font-size: 0.8vw;
    width: 19vw;
    left: 3.2vw;
  
}

.input_group > hr
{
    position: relative;
   color: var(--font-color-primary);
   width: 17vw;
}

.r_forms>form>button
{
    outline: none;
    border: var(--font-color-secondary) solid 1px;
    border-radius: 2vw;
    background-color: var(--font-color-secondary);
    color: var(--font-light-color);
    width: 11vw;
    height: 2vw;
    font-size: 0.8vw;
    margin: 2vw 0 0 7vw;

}

/* Tablet Mode */
@media (max-width: 768px){

    /* Centers the Text Logo*/
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .logo>p{
        font-size: 1.8vw;
    }

    /*Removes unnecessary text in this view*/
    .flow-y > p , h2{
        display: none;
    }

    /*Brings image at the top of the card*/
    .flow-x{
        display: block;
        width: fit-content;
    }

    /*changes card width*/
    .card{
       display: flex;
       justify-content: center;
       width:fit-content;
    } 

    .x_half {
        width: 100%;
    }
    .input_group > input{
        padding: 0vw;
        width: 15vw;
        left: 7.3vw;
    }
    .input_group > hr
    {
        width: 15vw;
    }
    .r_forms>form>button{
        margin: 1.4vw -10vw -5 9.7vw;
    }
    .card>div>.l_design{
        width: 30vw;
    }
    .card>div>.l_design>div>.icon {
        width: 13vw;
        margin: 0vw -10vw -5 8vw;
    }
}

/* Mobile Mode */
@media (max-width: 320px){
   
}
