@import url('root.css'); 
/*Always include root css to access the root content and not to reinitialize code */

#lblPlaceholder{
    font-size: 20px;
    font-weight: bold;
    color: #515151;
}
#output{
    width: 8vw;
    height: 8vw;
}
.imageArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 25%;
    margin-top: 1vw;
}
.imageArea input{
    margin-left: 5vw;
}
.imageArea img{
    margin-bottom: .5vw;
    margin-left: 0vw;
}
.imageArea .SelectPicture:hover , img:hover{
    cursor: pointer;
}
.inputArea{
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
}
.inputArea input{
    margin-right: .5vw;
    margin-bottom: .5vw;
    height: 2vw;
    width: 22.3vw;
    border-style: none;
    background-color: #fff;
    padding: 0px 10px;
    font-size: 16px;
}
.inputArea textarea{
    width: 99%;
    height: 10vw;
    padding: 10px 10px;
    font-size: 16px;
}

#UserType{
    height: 2vw;
    width: 99%;
    padding: 0px 10px;
    border: none;
    font-size: 16px;
}

#ContactNumber{
    padding: 0px 10px;
    margin-top: .5vw;
    width: 99%;
}
#ID{
    width: 99%;
}

.imageArea .SelectPicture{
    text-decoration: underline;
    font-size: 16px;
    font-weight: lighter;
}

.UserSectionnSubject{
    display: block;
    width: 89.2%;
    margin-top: .5vw;
}
.UserSectionnSubject .setSubjectSection{
    text-decoration: underline;
    font-size: 15px;
    width: 100%;
    height: 2vw;
    border: none;
    background-color: #fff;
}
.UserSectionnSubject .setSubjectSection:active{
    background-color: #D1D7FA;
}
.UserSectionnSubject .setSubjectSection:hover{
    cursor:pointer;
}

#SubjectSection-table{
    margin-top: .5vw;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
  
#SubjectSection-table , td{
    font-size: 15px;
    padding: 8px;
}
#SubjectSection-table tr:hover{
    background-color: #D1D7FA;
}
  
 #SubjectSection-table th{
    background-color: #B2BBF7;
    color: #ffff;
    font-size: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#SubjectSection-table tbody{
    background-color: #fff;
}
#SubjectSection-table , th:hover{
    cursor: default;
}

.UserSetup{
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    align-items: center;
    display: block;
}
.UserSetup input{
    font-size: 15px;
    margin-top: 1vw;
    width: 48.3%;
    margin-right: 1vw;
    border: none;
    padding: 0px 10px;
    height: 2vw;
}

.UserSetup h5{
    margin-top: 1vw;
    margin-left: 44%;
    font-size: 15px;
}
.CustomCheckboxes{
    margin-top: 1.5vw;
    display: flex;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
}

.CustomCheckboxes .container {
font-weight: normal;
margin-right: 2vw;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .CustomCheckboxes .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .CustomCheckboxes .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .CustomCheckboxes  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .CustomCheckboxes  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .CustomCheckboxes .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  
/* Show the checkmark when checked */
.CustomCheckboxes .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .CustomCheckboxes  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .actionButton{
     width: 89%;
  }

  .actionButton button{
      margin-right: 10px;
      margin-top: 20px;
      width: 90px;
      height: 40px;
      border: none;
      background-color: #B2BBF7;
      color: #fff;
  }
  #btnsave{
      margin-left: 80%;
  }

  .actionButton button:hover{
    background-color: #97A3F4;
  }
  .actionButton button:active{
    background-color: #6D7DEF;
  }