@import url('root.css'); 
/*Always include root css to access the root content and not to reinitialize code */

.item_container label{
    font-size: 1.2vw;
    font-weight: bold;
    color: #515151;
}
#output{
    width: 8vw;
    height: 8vw;
}
.imageArea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 25%;
    margin-top: 1vw;
}
.imageArea input{
    margin-left: 5vw;
}
.imageArea img{
    margin-bottom: .5vw;
    margin-left: 0vw;
}

.inputArea{
    margin-top: 1vw;
    display: flex;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
}
.inputArea input{
    margin-right: .5vw;
    margin-bottom: .5vw;
    height: 2vw;
    width: 22.3vw;
    border-style: none;
    background-color: #fff;
    padding: 0px 10px;
}
.inputArea textarea{
    width: 99%;
    height: 10vw;
    padding: 10px 10px;
}

#UserType{
    height: 2vw;
    width: 99%;
    padding: 0px 10px;
}

#ContactNumber{
    padding: 0px 10px;
    margin-top: .5vw;
    width: 99%;
}

.ClassArea{
    margin-bottom: .5vw;
    width: 83%;
    padding: 5px 10px;
    overflow-y: auto;
    height: 10vw;
    background-color: #DBDBDB;
}

.ControlArea{
    display: flex;
    flex-direction: column;
}
.ControlArea button{
    margin-top: 1vw;
    margin-left: 1vw;
    width: 8vw;
    height: 2vw;
}